$background: #fffffe;
$headline: #0f0e17;
$subheadline: #2e2f3e;
$card-background: #0f0e17;
$card-heading: #fffffe;
$card-paragragh: #a7a9be;

$stroke: black;
$main: #fffffe;
$highlight: #ff8906;
$secondary: #f25f4c;
$tertiary: #e53170;
