@use "../base/variables";
@use "../base/mixins";

.title {
  &_fz17 {
    font-size: 17px;
    line-height: 21px;
  }
  &_fz21 {
    font-size: 21px;
    line-height: 27px;
  }
  &_fz25 {
    font-size: 25px;
    line-height: 27px;
  }
  &_fz37 {
    font-size: 37px;
    line-height: 37px;
  }
  &_fz47 {
    font-size: 47px;
    line-height: 47px;
  }
  &_fz57 {
    font-size: 57px;
    line-height: 57px;
  }
  &_fw700 {
    font-weight: 700;
  }
  &__section-title {
    text-align: center;
    position: relative;
    color: variables.$stroke;
    font-weight: 700;
    @include mixins.before_circle;
    &:before {
      top: -3px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__section-subtitle {
    text-align: center;
    color: variables.$stroke;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
  }
}
